{% extends 'root.html'%}
{% block table %}
<div class = "container">
	<div class = "d-flex">
		<div class = "ml-auto">
			<a class = "btn btn-primary my-3" href = "/index">Add New Request</a>
		</div>
	</div>
	<div class="card">
  		<div class="card-header">Request List</div>
		<div class="card-body">
			<table id = "datatable" class = "table table-sm table-md table-lg table-striped table-bordered">
				<thead>
					<tr>	
						<th class = "th-sm">Title</th>
						<th>Description</th>
						<th>Client Name</th>
						<th>Priority</th>
					</tr>
				</thead>
				<tbody>
					{% for i in f %}
					<tr>
						<td>{{ i.title }}</td>
						<td>{{ i.description }}</td>
						<td>{{ ab.filter(Client.id == i.client_id).first().clientName }}</td>
						<td>{{ i.priority }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
